.input-container {
  margin: 0 auto;
}

.timer {
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
}

.label {
  font-size: 16px;
  text-transform: uppercase;
}
